<h1>Create a new Tool</h1>

<% if @tool.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@tool.errors.count, "error") %>
      prohibited this listing from being saved:
    </h2>

    <ul>
    <% @tool.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%=form_for @tool do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :portability %>
  <%= f.text_field :portability %>
  <br>
  <%= f.label :condition %>
  <%= f.text_field :condition %>
  <br>
  <%= f.select :safety_level, ['safe','not-so-safe','be careful','dangerous','life-threatening'] %>
  <br>
  <%=f.submit%>
<% end %>
