<h1>Create a new Tool</h1>

<%= form_for @tool do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p><%= f.label :safety_level %>
    <%= f.select :safety_level, [['safe'], ['not-so-safe'], ['be careful'], ['dangerous'], ['life-threatening']] %>
  </p>
  <p>
    <%= f.label :portability %>
    <%= f.text_field :portability %>
  </p>
  <p>
    <%= f.label :availability_start %>
    <%= f.date_select :availability_start, :order => [:month, :day, :year] %>
  </p>
  <p>
    <%= f.label :availability_end %>
    <%= f.date_select :availability_end, :order => [:month, :day, :year] %>
  </p>
  <p>
    <%= f.label :condition %>
    <%= f.text_field :condition %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
