<h1>Tool Information</h1>

  <ul>
    <li>Name: <%= @tool.name %></li>
    <li>Safety Level: <%= @tool.safety_level %></li>
    <li>Portability: <%= @tool.portability %></li>
    <li>Condition: <%= @tool.condition %></li>
    <li>Availability: <%= @tool.availability %></li>
  </ul>

  Average Review: <%= @tool.average_review %><br>
  <br>
  <% if @tool.reviews.count > 0%>
  Reviews:<br>
    <% @tool.reviews.each do |review| %>
    Rating:<%= review.rating %><br>
    Content: <%= review.content%><br>
    Worth borrowing? <%= review.worth_borrowing? %><br>
    <% if @user.id == review.borrower_id %>
    <%= link_to "Edit or delete", edit_review_path(review)%>
    <% end %>
    <br>
    <br>
    <% end %>
    <br>
    <% end%>

  <% if @tool.listing%>
  <%= button_to 'View Listing', listing_path(@listing), :method => :get %>
  <% else %>
  <%= button_to 'New Listing', new_listing_path, :method => :get  %>
  <% end %>
  <% if @owner.id == @tool.lender_id %>
  <%= button_to 'Edit Tool', edit_tool_path(@tool), :method => :get %>
  <%= button_to 'Delete Tool', tool_path(@tool), :method => :delete  %>
  <% end %>
  <%= button_to 'Return to Your Page', user_path(session[:user_id]), :method => :get  %>
