<h1>All Listings</h1>

<h3>Search for a listing:</h3>

<%= form_tag listings_path, :method => :get do %>
  <%= label_tag "Search" %>
  <%= text_field_tag :search %>
  <%= submit_tag "Submit" %>
<% end %>
<br />
<table>
  <tr>
    <th>Listing Name</th>
    <th>Tool</th>
    <th>Notes</th>
  </tr>
<% @listings.each do |listing| %>
  <tr>
    <td><%= link_to listing.name, listing_path(listing) %></td>
    <td><%= listing.tool_name %></td>
    <td><%= listing.notes %></td>
  </tr>
<%end%>
</table>
<br />

<h3>Search by zip code</h3>
<%= form_tag listings_path, :method => :get do %>
  <%= label_tag "Zip Code" %>
  <%= text_field_tag :zip_code %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <tr>
    <th>Listing Name</th>
    <th>Tool</th>
    <th>Notes</th>
  </tr>
<% @zip_code_search.each do |listing| %>
  <tr>
    <td><%= link_to listing.name, listing_path(listing) %></td>
    <td><%= listing.tool_name %></td>
    <td><%= listing.notes %></td>
  </tr>
<%end%>
</table>

<br />

<iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYV-lwaMb8p0Hz04ILnsVSvHDZD2pZ7rc
      &q=<%=params[:zip_code]%>" allowfullscreen>
  </iframe>

<br />
<%= button_to 'Return to Your Page', user_path(session[:user_id]), :method => :get  %>
