<h3><%= @listing.name %></h3>
<ul>
  <li>Tool: <%= @tool.name %></li>
  <li>Safety Level: <%= @tool.safety_level%></li>
  <li>Portability: <%= @tool.portability%></li>
  <li>Condition: <%= @tool.condition%></li>
  <li>Cost: <%= @listing.cost%></li>
  <li>Notes: <%= @listing.notes %></li>
</ul>

<%= button_to 'Edit Listing', edit_listing_path(@listing), :method => :get  %>
<%= button_to 'Delete Listing', listing_path(@listing), :method => :delete  %></p>
