<h2>Hi, <%=@user.name%></h2>

<h3>Personal Information</h3>
<ul>
  <li>Address: <%= @user.location %></li>
  <li>Email: <%= @user.email %></li>
</ul>
<%= button_to 'Lend a Tool', new_tool_path, :method => :get %>
<hr />

<h3>Your tools:</h3>
<ul>
<% @user.tools.each do |tool| %>
  <li><%= link_to(tool.name, tool_path(tool)) %></li>
  <% end %>
</ul>
<hr />

<h3>Your listings:</h3>
<ul>
  <% @user.tools.with_listings.map do |tool| %>
    <li><%= link_to(tool.listing.name, tool.listing(tool.listing)) %></li>

  <% end %>
</ul>
<br>
<hr />

<p><%= button_to 'Edit User', edit_user_path(@user), :method => :get  %>
  <%= button_to 'Log Out', session_path(@user), :method => :delete  %>
  <%= button_to 'Delete Account', user_path(@user), :method => :delete  %></p>
