<h2>Hi, <%=@user.name%></h2>

<h3>Personal Information</h3>
<ul>
  <li>Address: <%= @user.location %></li>
  <li>Email: <%= @user.email %></li>
</ul>
<%= button_to 'Lend a Tool', new_listing_path, :method => :get %>
<%= button_to 'Search for a Tool', listing_path, :method => :get %>
<hr />

<h3>Listings you are a part of:</h3>

<hr />

<p><%= button_to 'Edit User', edit_user_path(@user), :method => :get  %>
  <%= button_to 'Log Out', user_path(@user), :method => :delete  %>
  <%= button_to 'Delete Account', user_path(@user), :method => :delete  %></p>

