<h2>Hi, <%=@user.name%></h2>

<h3>Search for a listing:</h3>

<%= form_tag listings_path, :method => :get do %>
  <%= label_tag "Search" %>
  <%= text_field_tag :search %>
  <%= submit_tag "Submit" %>
<% end %>
<%= button_to 'Show All Listings', listings_path, :method => :get  %>


<h3>Personal Information</h3>
<ul>
  <li>Address: <%= @user.location %></li>
  <li>Zip Code: <%= @user.zip_code %></li>
  <li>Email: <%= @user.email %></li>
</ul>

<iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYV-lwaMb8p0Hz04ILnsVSvHDZD2pZ7rc
      &q=<%=@user.zip_code%>" allowfullscreen>
  </iframe>

<%= button_to 'Add a Tool', new_tool_path, :method => :get %>
<hr />

<h3>Your tools:</h3>
<ul>
<% @user.tools.each do |tool| %>
  <li><%= link_to(tool.name, tool_path(tool)) %></li>
  <% end %>
</ul>
<hr />

<h3>Your listings:</h3>
<ul>
  <% @user.tools.with_listings.map do |tool| %>
    <li><%= link_to(tool.listing.name, tool.listing(tool.listing)) %></li>

  <% end %>
</ul>
<br>
<hr />

<p><%= button_to 'Edit User', edit_user_path(@user), :method => :get  %>
  <%= button_to 'Log Out', session_path(@user), :method => :delete  %>
  <%= button_to 'Delete Account', user_path(@user), :method => :delete  %>
  <%= button_to 'Analytics', tools_path, :method => :get  %></p>
